body {
}

/* grid background color */
.grid-custom th {
    background-color: #4f64cc !important;
    color: white !important;
    font-size: 13px !important;
    font-family: Verdana !important;
    font-weight: normal !important;
}

/* button background color */
.btn-custom {
    background-color: #4f64cc;
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.btn-custom:hover, .btn-custom:active, .btn-custom:focus {
    background-color: #2b3b80;
    color: white;
}



/* item insert button position */
.button-position {
    position: absolute;
    bottom: -45px;
    right: 10px;
}








/* Update dropdown padding */
.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}











.dataTables_wrapper {
    margin-top: 20px;
}

.dataTables_filter, .dataTables_length {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_info {
    margin-top: 10px; /* Adjust the top margin as needed */
}

.dataTables_wrapper .dataTables_paginate {
    background-color: ghostwhite;
    border: 1px solid #ddd; /* Add your desired border style */
    border-radius: 10px; /* Add border radius for a rounded appearance */
    padding: 5px; /* Add padding to give some space inside the border */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #ddd;
    border-radius: 5px;
}